html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 0;
}

.parent-container {
  /* padding: 10px; */
  /* border: 3px solid; */
  /* padding: 50px; */
  min-height: 435px;
  color: white;
}

.healthy-container {
  background-color: #F59135;
}

.sustainable-container {
  background-color: #79B353;
}

.affordable-container {
  background-color: #52BAAF;
}

.fair-container {
  background-color: #156272;
}

.child-container {
  background-color: white;
  color: rgba(33, 33, 33, 0.85);
  width: 100%;
  margin-top: 5px;
  padding-top: 20px;
    padding-bottom: 50px;
  /* padding-left: 75px; */
}

.content-header {
  text-transform: uppercase;
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.parent-button {
  border: 3px solid;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  margin-left: 4rem;
  margin-top: 2rem;
}

.healthy-button {
  background-color: #F59135;
}

.sustainable-button {
  background-color: #79B353;
}

h1 {
  font-family: 'Hind', sans-serif;
  font-size: 64px;
  line-height: 87px;
}
.affordable-button {
  background-color: #52BAAF;
}

.fair-button {
  background-color: #156272;
}


.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item:nth-child(1) {
  margin-right: 15px;
}

/* .flex-item:nth-child(2) {

} */

.map-header {
  margin: 5rem;
  color: #F59135
}

.foodshed-p {
  margin-left: 4rem;
  margin-right: 4rem;
}

.para-1 {
  margin-bottom: 0rem;
}

.para-2 {
  margin-top: 0rem;
  margin-bottom: 7rem;
}

.cali-map {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}

.map-container {
  height: 400px;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.float-1 {
  width: 500px;
  float: right;
}

.displayText {
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.introduction, .commentary, .chart, .key-findings, .toolkit {
  margin-left: 4rem;
  margin-right: 4rem;
}

.inner-headers {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

